@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import "tailwindcss";
@theme {
  --font-P2P: "Press Start 2P", "system-ui";
  --font-VT: "VT323", "monospace";

  --animate-fill: fill 1s ease-in-out forwards;
  --animate-bounce: updown 2s ease-in-out infinite;

  @keyframes updown {
    0%, 100%{ 
      transform:translateY(-2px);
    }50%{ 
      transform: translateY(2px);
    }
  }

  @keyframes fill {
    0%{ 
      width: 0%; 
    }
    100% { 
      width: 100% ;
    }
  }
  
}
